/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
$primary-color: #4f5a6d;
$secondary-color: #e2bab3;
$accent-color1: #36374b;
$accent-color2: #613942;
$accent-color3: #b3b1d8;


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	color: $primary-color;
	font-family: 'Marcellus', serif;
}

.home-page{
	background: url(../img/granny-bg.jpg) no-repeat center;
	background-size: cover;
}

.info-page{
	background: $secondary-color;
}

.wrapper{
	background: rgba(226, 186, 179, .7);
	height: 100vh;
	width: 100%;
}


/* 2. Content ================================= */
header{
	padding: 20px 3%;
	color: $primary-color;
	display: flex;
	height: 200px;

	img{
		width: 120px;
		height: 100px;
		margin-top: 8px;
	}

	h1{
		font-size: 3.8em;
		font-weight: bold;
		text-shadow: 3px 3px 3px $accent-color3;
		padding: 0 3%;
		width: 30%;

	}
}

.info{
	padding: 50px 5%;
	text-align: center;

	h2{
		font-size: 2em;
		padding-bottom: 20px;
	}
	form{
		font-size: 1.6em;
		display: flex;
		flex-direction: column;

		#term{
			font-size: 1em;
			font-family: 'Marcellus', serif;
		}

		a{
			background: $secondary-color;
			border: 3px solid $primary-color;
			border-radius: 15px;
			font-family: 'Marcellus', serif;
			font-weight: bold;
			color: $primary-color;
			font-size: .9em;
			width: 40%;
			height: 50px;
			align-self: center;
			margin-top: 10px;
			padding: 10px 0;
			text-decoration: none;
			transition: .25s;

			&:hover{
				background: $accent-color1;
				transition: .25s;
			}
		}

		.pop-up{
			color: transparent;
			font-size: .8em;
			padding-top: 5px;

		}
	}
}


//home-page validators
.pass{
	border: 5px solid #18a78e;
}

.fail{
	border: 5px solid #8a1a15;
}

//info-page
.info-form{
	background: $accent-color;
}



/*Small Tablet*/
@media screen and (min-width: 768px){
	.info{
		form{
			#submit{
				width: 25%;
				transition: .25s;
			}
		}
	}
}







